@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Geologica", sans-serif;
}

.contenedor{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

}
.nav_toggle{
    
    position: absolute;
    right: 0;
    top: 25px;
    padding: 0.5 rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 15px;
    
}
.nav_toggle span{
    display: none;
    width: 30px;
    height: 4px;
    background-color: rgb(244 244 245);
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0;
    transition: all 0.2s linear;
}

@media (max-width : 768px){

    #navBar{
        display: none;
    }
    .nav_toggle span{
        display: block;
    }

    #navBar.active{
        display: flex;
        
    }
}