@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Geologica", sans-serif;
}

.contenedor{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}
.nav-brand{
    display: flex;

}

.nav-items{
    display: flex;
    
}



.nav_toggle{
    padding: 0.5 rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    display: none;
    
    
}
.nav_toggle span{
    
    width: 30px;
    height: 4px;
    background-color: rgb(244 244 245);
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0;
    transition: all 0.2s linear;
}

.tracking-in-expand{-webkit-animation:tracking-in-expand 2s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand 2s cubic-bezier(.215,.61,.355,1.000) both}


 @-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

 
@media (max-width : 768px){

    #navBar{
        display: none;
    }
    .nav-items{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 3rem;
        width: 70%;
        height: 100vh;
        background-color: rgb(24 24 27);
        z-index: 999;
        
    
    }
    .nav_toggle{
        display: flex;
    }

    #navBar.active{
        display: flex;
        
    }
}